body{
    background-color: black;
}
section{
    background-color: rgb(94, 14, 14);
}
div>h2{
    background-color: maroon;
    color: mintcream;
    text-align: center;
    text-transform: uppercase;
}
header>nav{
    background-color: mintcream;
    color: maroon;
}
.imagenes{
width: 20%;
height: 20%;}
div>p{
    background-color: orange;
    text-decoration: overline;
    letter-spacing: 5px;
    word-spacing: 6px;
    text-align: justify;
}
.direccionar{
    background-color: rgb(95, 67, 67);
     color: white;
}
div>h3{
    background-color: oldlace;
    color:orangered;
}